<% if logged_in? %>
<div class="row">
  <aside class="col-md-3 text-left">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
    <section class="stats mt-3">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div>
    <h3 class="photo_header">Photo Feed</h3>
    <%= render "shared/feed" %>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col">
    <div class="card mx-auto">
      <div class="card-body mx-auto text-center">
        <h4 class="card-title text-muted mb-5">Welcome to the InstagramApp!</h4>
        <%= link_to "/auth/facebook", class: "btn btn-primary w-75" do %>
        <i class="fab fa-facebook-f fa-fw"></i>Sign up with Facebook
        <% end %>
        <p class="my-3">or</p>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-primary mb-3 w-75" %>
      </div>
    </div>
  </div>
</div>
<% end %>