<% provide(:title, 'Log in') %>

<div class="row">
  <div class="col">
    <div class="card mx-auto">
      <div class="card-body">
        <h1 class="text-center">Sign up</h1>

        <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :password %>
        <%= link_to "(forgot password)", new_password_reset_path %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
    <div class="mx-auto mt-3">
      <p class="text-center my-auto">New user?
        <%= link_to "Sign up now!", signup_path %>
      </p>
    </div>
  </div>
</div>