<% provide(:title, 'Forgot password') %>

<div class="row">
  <div class="col">
    <div class="card mx-auto">
      <div class="card-body">
        <h1 class="text-center">Forgot password</h1>

        <%= form_for(:password_reset, url: password_resets_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.submit "Submit", class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>