<% if !current_user?(photo.user) %>
<span class="like">
  <% if photo.favorite?(current_user) %>
  <%= form_for(photo.favorites.find_by(user_id: current_user.id), html: {method: :delete }) do |f| %>
  <%= button_tag(class: "btn btn-default btn-xs") do %>
  <%= content_tag :span, "いいねを取り消す", class: "fas fa-heart" %>
  <% end %>
  <% end %>
  <% else %>
  <%= form_for(photo.favorites.build) do |f| %>
  <div><%= hidden_field_tag :photo_id, photo.id %></div>
  <%= button_tag(class: "btn btn-default btn-xs") do %>
  <%= content_tag :span, "いいね", class: "far fa-heart" %>
  <% end %>
  <% end %>
  <% end %>
</span>
<% end %>