<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
  <span>
    <%= link_to user_path(visitor) do %>
    <%= gravatar_for visitor %>
    <%= visitor.name %>
    <% end %>
  </span>
  <% case notification.action %>
  <% when "follow" then %>
  <span>is following you</span>
  <% end %>
</div>