<% provide(:title, "Edit user") %>
<div class="row">
  <div class="col mx-auto">
    <div class="card text-center">
      <h1 class="font-italic mt-5">Update your Profile</h1>
      <div class="mr-auto ml-3">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank" rel="nonpener" class="ml-3">
          change
        </a>
      </div>
      <div class=" card-body font-italic">
        <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: "form-control" %>

        <%= f.label :website %>
        <%= f.url_field :website, class: "form-control" %>

        <%= f.label :introduce %>
        <%= f.text_area :introduce, class: "form-control mb-5" %>

        <p class="text-left text-muted">private</p>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: "form-control" %>

        <%= f.label :gender %>
        <%= f.select :gender, [["", ""], ["male", "male"], ["female", "female"]] %>

        <%= f.submit "Save Change", class: "btn btn-primary font-weight-bolder my-3 w-50" %>
        <% end %>
      </div>
    </div>
    <div class="card text-center mt-4">
      <div class="card-body font-italic">
        <p class="my-auto">
          <%= link_to "Change password", password_edit_user_path(@user),
                                                          class: "btn btn-info font-weight-bolder w-50" %>
        </p>
      </div>
    </div>
    <div class="card text-center mt-4">
      <div class="card-body font-italic">
        <p class="my-auto">
          <%= link_to "Delele Account", @user, method: :delete, data: { confirm: "You Sure?" },
                                                                class: "btn btn-danger font-weight-bolder w-50" %>
        </p>
      </div>
    </div>
  </div>
</div>