<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col">
    <div class="card mx-auto">
      <div class="card-body">
        <h1 class="text-center">Sign up</h1>

        <%= form_for(@user, url: signup_path) do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: "form-control" %>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <%= f.submit "Create my account", class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>