<%= provide(:title, "Update password") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 mx-auto">
    <div class="card text-center">
      <h1 class="font-italic mt-5">Change Password</h1>
      <div class=" card-body font-italic">
        <%= form_for(@user, url: password_edit_user_path(@user)) do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label "Now Password" %>
        <%= f.password_field :password_now, class: "form-control" %>

        <%= f.label :password, "New Password" %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <%= f.submit "Save Change", class: "btn btn-primary font-weight-bolder my-3 w-50" %>
        <% end %>
      </div>
    </div>
  </div>
</div>