<% provide(:title, @user.name) %>
<div class="row">
  <ul class="list-unstyled float-left">
    <aside>
      <section class="user_info">
        <li style="font-size: 25px;">
          <%= gravatar_for @user %>
          <%= @user.name %>
          <% if current_user?(@user) %>
          <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary btn-sm mt-5" %>
          <% end %>
        </li>
      </section>
      <li>
        <section class="stats mt-3">
          <%= render 'shared/stats' %>
        </section>
      </li>
    </aside>
  </ul>
  <div>
    <%= render 'follow_form' if logged_in? %>
    <% if @user.photos.any? %>
    <h3 class="photo_header mt-3">Photos (<%= @user.photos.count %>)</h3>
    <div class="row">
      <ol class="col3">
        <%= render @photos %>
      </ol>
      <%= paginate @photos %>
      <% end %>
    </div>
  </div>
</div>