<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="font-bolder" style="font-size: 25px;">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p><%= link_to "view my profile", @user, class: "btn btn-primary btn-sm" %></p>
      <span>
        <b>Photos:</b> <%= @user.photos.count %>
      </span>
    </section>
    <section class="stats mt-3">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
      <div class="user_avatars">
        <% @users.each do |user| %>
        <%= link_to gravatar_for(user, size: 30), user %>
        <% end %>
      </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
    <ul class="users follow mb-3">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
    <% end %>
  </div>
</div>