<div class="row">
  <aside>
    <section class="user_info">
      <h1 class="font-bolder" style="font-size: 25px;">
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        <%= current_user.name %>
      </h1>
      <div><%= link_to "view my profile", current_user %></div>
      <div><%= pluralize(current_user.photos.count, "Photo") %></div>
    </section>
  </aside>
</div>