<li id="photo-<%= photo.id %>">
  <span class="content text-center">
    <ul class="list-unstyled">
      <li>
        <%= link_to photo_path(photo) do %>
        <%= image_tag photo.picture.url if photo.picture? %>
        <% end %>
      </li>
      <li class="photo_content">
        <%= photo.content %>
      </li>
      <li>
        <%= link_to "comment", photo_path(photo), class: "text-muted" %>
      </li>
    </ul>
  </span>
  <div class="aside_photo_size text-left">
    <p><span class="mr-1 text-muted">by
      </span><%= link_to photo.user.name, photo.user, class: "text-info" %>
      <% if current_user?(photo.user) %>
      <%= link_to "delete", photo, method: :delete, class: "text-danger ml-1",
                        data: { confirm: "You Sure?"} %>
      <% end %>
    </p>
    <p>
      <span class="text-muted">
        Posted <%= time_ago_in_words(photo.created_at) %> ago.
      </span>
      <%= render "favorites/like", photo: photo %>
    </p>
  </div>
</li>