<%= provide(:title, "Photo post") %>
<div class="row">
  <div class="col">
    <div class="card h-100 mx-auto">
      <div class="card-body">
        <h1 class="text-center">Post</h1>

        <%= form_for(@photo) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="field">
          <%= f.text_area :content, placeholder: "Compose new content..." %>
        </div>
        <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>
        </span>
        <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function () {
    var size_in_megabytes = this.files[0].size / 1024 / 1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>