<%= provide(:title, "photo") %>
<%= image_tag @photo.picture.url, size: "300" %>
<p>by <%= @photo.user.name%></p>
<% @comments.each do |c| %>
<div>
  【comment】
  <%= c.content %>
  by <%= link_to current_user.name, root_path %>
</div>
<% end %>
<%= form_with(model: [@photo, @comment]) do |f| %>
<div>
  <%= f.text_field :content %>
</div>
<%= f.submit "Comment" %>
<% end %>