@import "bootstrap";

/* main */

body {
  background: #f2f2f2;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* header */

#header_form {
  margin-left: 30px;
}

#header_link {
  li {
    margin-right: 30px;
  }
}

/* miscellaneous */

.debug_dump {
  background: #ffffff;
  border: 1px dotted #000000;
  width: 90%;
  margin: 0 auto;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  display: contents;

  input {
    @extend .is-invalid;
  }
}

.stats {

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #707077;
    color: gray;

    &:first-child {
      padding-left: 0;
      border: 0;
    }

    &:hover {
      text-decoration: none;
      color: blue;
    }
  }

  strong {
    display: block;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.user_avatars {
  display: inline-block;
  overflow: auto;
  margin-top: 10px;

  .gravatar {
    margin: 1px 1px;
  }

  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px dashed #707077;
  }
}

/* microposts */

.photo_header {
  border-bottom: 1px dotted #707077;
}

.aside_photo_size {
  font-size: x-small;
}

.col3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    width: calc(100% / 3);
  }

  .content {
    word-wrap: break-word;
    display: block;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}