<footer class="mt-auto">
  <ul class="list-inline d-flex mr-5">
    <% if logged_in? %>
    <li class="list-inline-item mr-auto ml-5">
      <%= link_to "Photo post", new_photo_path, class: "btn btn-info rounded-pill"%>
    </li>
    <% end %>
    <li class="list-inline-item ml-3">
      <%= link_to "Terms of service", terms_path, class: "btn btn-outline-secondary btn-sm" %>
    </li>
    <li class="list-inline-item ml-3"><small class="text-muted">&copy; 2019 INSTAGRAM FROM FACEBOOK</small>
    </li>
  </ul>
</footer>