<nav class="navbar navbar-expand-md navbar-light bg-white">
  <%= link_to image_tag("header_logo", alt: "home", size: "200x40"), root_path %>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if logged_in? %>
  <div class="ml-5">
    <%= search_form_for @search, html: { class: "form-row my-auto" } do |f| %>
    <%= f.search_field :name_cont, placeholder: "search...", class: "form-group col-sm-6 my-2 my-lg-0" %>
    <%= f.submit "search", class: "btn btn-outline-dark btn-sm form-group col-sm-4 my-2 ml-3 my-sm-0" %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul id="header_link" class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item my-auto">
        <%= link_to notifications_path, class: "text-muted" do %>
        <i class="far fa-comment-alt fa-fw"></i>alert
        <% end %>
      </li>
      <li class="nav-item my-auto">
        <%= link_to users_path, class: "text-muted" do %>
        <i class="fas fa-users fa-fw"></i>Users
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Account</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownId">
          <%= link_to current_user, class: "dropdown-item text-muted" do %>
          <i class="fas fa-portrait fa-fw"></i>Profile
          <% end %>
          <%= link_to edit_user_path(current_user), class: "dropdown-item text-muted" do %>
          <i class="fas fa-user-edit fa-fw"></i>Settings
          <% end %>
          <%= link_to logout_path, method: :delete, class: "dropdown-item text-muted" do %>
          <i class="fas fa-sign-out-alt fa-fw"></i>Log out
          <% end %>
        </div>
      </li>
    </ul>
    <% else %>
    <ul id="header_link" class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item my-auto">
        <%= link_to login_path, class: "text-muted" do %>
        <i class="fas fa-sign-in-alt fa-fw"></i>Log in
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
</nav>