<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render "layouts/instagram" %>
  <%= render "layouts/shim" %>
</head>

<body>
  <%= render "layouts/header" %>
  <div class="container my-5">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
</body>

</html>